@import "tailwindcss";
@font-face {
  font-family: machina;
  src: url(./assets/fonts/NeueMachina-Regular.otf);
}
* {
  font-family: machina;
}
body{
  background-color: #020617;
}

.media-img { object-fit: cover; border-radius: 0.5rem; max-width: 100%; height: auto; }
.media-video { object-fit: cover; border-radius: 0.5rem; max-width: 100%; height: auto; }
.media-img.landscape { width: 100%; height: auto; margin: 0; padding: 0;}
.media-img.portrait  { width: 100%; height: auto; margin: 0;}
.media-video.landscape { width: 100%; height: auto; }
.media-video.portrait  { width: 100%; height: auto; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 8px; 
}

/* .grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
} */
/* .my-masonry-grid {
  display: flex;
  margin-left: -8px; 
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 8px;
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 8px;
} */
